{% extends 'base.html' %}
{% load static %}

{% block title %}Login - GAIA{% endblock %}

{% block body_class %}auth-page{% endblock %}

{% block content %}
{% block header %}{% endblock %}
<div class="auth-container">
    <div class="text-center">
        <img src="{% static 'img/logogaia.png' %}" class="logo"><br>
        <div class="page-title-container">
            <h2 class="h6 mb-0 fw-normal">Gerador de Atividades com Inteligência Artificial</h2>
        </div>

        <div class="auth-card-wrapper">
            <div class="auth-card-login">
                <h3 class="text-center">Login</h3>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-4">
                        <input type="text" class="form-control" name="username" placeholder="Usuário" required>
                        <i class="fa fa-user"></i>
                    </div>

                    <div class="input-group mb-4">
                        <input type="password" class="form-control" name="password" placeholder="Senha" required>
                        <i class="fa fa-lock"></i>
                    </div>

                    <div class="d-grid mt-4">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% block footer %}
{% endblock %}

{% endblock %}
